* {
  color: navy;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a:hover {
  background-color: lavender;
}

#main-header {
  background-color: rgb(172, 218, 219);
  padding: 40px;
}

header h1 {
  display: inline-block;
  font-size: 400%;
  font-style: italic;
}

nav {
  float: right;
  
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
}

.active {
  font-weight: 800;
  text-decoration: underline
}

h2 {
  font-size: 150%;
}

#name {
  text-align: left;
}

p {
  text-align: center;
}

#me img {
  height: 400px;
  width: auto;
  margin: auto;
  display: block;
}

#me p {
  margin-left: 10px;
}

h3 {
  font-size: 125%;
}

.card {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 5px;
  padding: 5px;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  font-style: italic;
  background-color: rgb(172, 218, 219);
}

#contact-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input {
  margin: 5px;
}


.project-header {
  font: bold;
  font-size: 150%;
  font-style: normal;
  text-align: center;
}

img {
  max-width: 50%;
  max-height: 100%;
  margin: auto;
  display: flex;
}

#contact ul {
  list-style-type: none;
  text-align: center;
}

#contact li {
  display: inline-block;
  font-style: italic;
  text-align: center;
}

footer {
  text-align: center;
}
